body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0em;
}

section, aside {
    flex-basis: 45%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#products h2 {
    background-color: #f7f7f7;
}

#cart {
    background-color: #fff;
}

#cart h3 {
    margin-top: 0;
}

#product-list,
#cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#product-list li,
#cart-list li {
    padding: 0.1em;
    border-bottom: 3px solid #ddd;
}

#product-list li:last-child,
#cart-list li:last-child {
    border-bottom: none;
}

#product-list li:hover,
#cart-list li:hover {
    background-color: #f7f7f7;
}

.product-name {
    font-weight: bold;
}

.product-price {
    font-size: 1.2em;
    color: #666;
}

.cart-quantity {
    font-size: 1.2em;
    color: #666;
}

#total-price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}

#checkout-btn {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #444;
}